<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOKU BOKU - WIKI</title>
    <link rel="icon" href="./images/BOKU wikipedia.PNG" type="image/png"> 
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="menu-items">
                <li><a href="Noticias.html">Noticias</a></li>
                <li><a href="Youtubers.html">Youtubers</a></li>
                <li><a href="Curiosidades.html">Curiosidades</a></li>
                <li><a href="Sobre.html">Sobre el juego</a></li>
                <li><a href="skins.html">Skins</a></li>
            </ul>
        </nav>
    </header>

    <div class="header-content container">
        <section class="general container">
            <div class="general-1 txt">
                <img src="images/boku boku.JPG" alt="boku boku">
            </div>
        </section>
        
        <!-- Cuadro con el título dentro -->
        <div class="title-box">
            <h1>¿Qué es BOKU BOKU?</h1>
        </div>
        
        <h2>Un espacio creativo desinhibido</h2>
        <p>BOKU BOKU es un videojuego de tipo sandbox en el que los jugadores pueden construir y<p>
        </p>explorar mundos utilizando bloques. BOKU BOKU permite a los usuarios crear sus propios entornos<p></p>
         <p>y jugar libremente en ellos. El juego tiene un enfoque en la creatividad y la personalización.</p>
           
        
        <section class="general container">
            <div class="general-2 txt">
                <img src="images/Informacion.PNG" alt="boku boku">
            </div>
        </section>
    </div>

    <!-- Líneas laterales -->
    <div class="side-line left-line"></div>
    <div class="side-line right-line"></div>

    <!-- Líneas extra -->
    <div class="extra-line extra-left-line"></div>
    <div class="extra-line extra-right-line"></div>
</body>
</html>
